.git
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
!.env.docker.example
*.sql
historique_prompts_reponses.md
bdm_v1.md
.phpunit.result.cache
